<nav id="navbar" class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0px">
  <ul class="nav navbar-nav">
    <li><a href="/"><i class="icon-home"></i> Home</a></li>
    <li><a href="http://discourse.mapeditor.org/"><i class="icon-group"></i> Forum</a></li>
    <li><a href="http://doc.mapeditor.org/"><i class="icon-book"></i> Documentation</a></li>
    <li><a href="blog.html"><i class="icon-rss"></i> Blog</a></li>
  </ul>
  <ul class="nav navbar-nav pull-right">
    <li><a href="http://github.com/bjorn/tiled"><i class="icon-github-alt"></i> Tiled on GitHub</a></li>
    <!-- TODO: Just have a row of icons (GitHub, [Twitter,] Google+, IRC?) -->
  </ul>
</nav>